body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: rgb(217, 243, 237);
  padding: 20px 10px;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 470px;
  border-radius: 2px;
  background-color: rgb(170, 163, 163);
}
.header__title {
  font-size: 90px;
  line-height: 1.4;
  padding-right: 70px;
  text-align: center;
}

.header__photo-img {
  border-radius: 10px;
  height: 400px;
  object-fit: contain;
  object-position: center;
  -webkit-box-shadow: 7px -5px 32px -2px rgba(35, 41, 37, 0.44);
  -moz-box-shadow: 7px -5px 32px -2px rgba(35, 41, 37, 0.44);
  box-shadow: 7px -5px 32px -2px rgba(35, 41, 37, 0.44);
}

.container {
  display: flex;
  justify-content: space-between;
}
.aside {
  width: 340px;
  padding: 0 10px;
}

.contacts__title {
  margin-bottom: 30px;
  font-size: 55px;
}

.contacts__li-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.contacts__li-img {
  height: 30px;
  object-fit: contain;
  object-position: center;
}
.contacts__li-p {
  font-size: 33px;
  cursor: pointer;
}
.contacts__li-p:hover {
  color: red;
}
